/* 
    Group Members: Keara Toop, Catherine Perdomo, Alice Alston, Dom Lynch
*/

/* CSS for Keara's Page Start */
    /* Add the green header*/
    body > header {
        display: block;
        width: 100%;
        background-color: #87BA78;
        height: 75px;
    }
    /* Style for the size of the logo*/
    #headerLogo{
        height: 75px; 
        width: auto;
        padding-left: 25px;
    }
    /* Set the form to the center of the page*/
    .formSet{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* Set the color of the required fields to red */
    #name, #email, #pass{
        background-color: #E1453D;
    }
    /* Separate so the list elements won't be centered*/
    td{
        border: 1px solid black;
        border-collapse: collapse;
        text-align: left;
        vertical-align: top;
        padding: 0.5em;
    }
    /* Style to add the lines to the table*/
    table, th{
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
        padding: 0.5em;
    }
    /* Add a background color to the header */
    th{
        background-color: #87BA78;
    }
    /* Change this text to italics*/
    #phoneIf{
        font-style: italic;
    }
/* CSS for Keara's Page End */